{% extends 'base.html.twig' %}

{# app/Resources/views/registration/register.html.twig #}

{% block body %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br/>
            <button class="btn btn-primary" type="submit">Registrar</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}