{% extends 'base.html.twig' %}

{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <label for="username">RUT:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="_password" />

    <input type="hidden" name="_target_path" value="/" />

    <button type="submit">login</button>
</form>

    <form method="get" action="/register">
        <input class="btn btn-primary" type="submit" value="Crear cuenta"/>
    </form>
{% endblock %}